<div class="">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Game Zone</a>
      <h2>Hi {{ user }}!</h2>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="button" (click)="logout()">
          Logout
        </button>
      </form>
    </div>
  </nav>

  <div class="container mt-4 rounded-4 shadow-lg" *ngIf="!game" style="border: 5px solid rgb(0 0 0 / 11%);">
    <div class="text-center mt-4">
      <h2 class="mb-4">Setup Game</h2>
    </div>
    <div class="text-center d-flex justify-content-center align-items-center m-4 p-4">
      <div class="container w-75">
        <form id="form1">
          <div class="mb-3 row">
            <label for="gridSize" class="col-sm-2 col-form-label">Grid Size:</label>
            <div class="col-sm-10">
              <input type="number" id="gridSize" class="form-control" [(ngModel)]="gridSize"
                [ngModelOptions]="{ standalone: true }" min="3" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="numberOfPlayers" class="col-sm-2 col-form-label">Number of Players:</label>
            <div class="col-sm-10">
              <input type="number" id="numberOfPlayers" class="form-control" [(ngModel)]="numberOfPlayers"
                [ngModelOptions]="{ standalone: true }" min="2" />
            </div>
          </div>
          <div *ngIf="error" class="text-danger fs-6`">Grid size must be at least 3x3 and at most 25x25 and there must
            be at least 2 players and at most {{most}} players.</div>
          <button class="btn btn-primary btn-lg w-auto" (click)="initializeGame()">
            Next
          </button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="players.length > 0 && !game" class="container mt-4 rounded-4 shadow-lg"
    style="border: 5px solid rgb(0 0 0 / 11%);">
    <div class=" rounded-5 m-4 p-4">
      <div class="text-center">
        <h3>Enter Player Information</h3>
      </div>
      <form id="form2">
        <div class="text-center d-flex flex-column justify-content-center align-items-center m-2 p-2">
          <div class="d-flex gap-0 flex-wrap justify-content-center ">
            <div *ngFor="let player of players; let i = index" class="d-flex card justify-content-center mb-3 p-2 m-1">
              <p class="text-center">Player {{i+1}}</p>
              <div class="d-flex mt-2">
                <label for="playerName{{ i }}"> Name:</label>
                <input type="text" id="playerName{{ i }}" class="form-control ms-2" [(ngModel)]="players[i].name"
                  [ngModelOptions]="{ standalone: true }" placeholder="Enter player name" />
              </div>
              <div class="d-flex mt-2">
                <label for="playerColor{{ i }}">Color:</label>
                <input type="color" id="playerColor{{ i }}" class="form-control ms-2 " [(ngModel)]="players[i].color"
                  [ngModelOptions]="{ standalone: true }" />
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">

          <button class="btn btn-success" (click)="createGame()">
            Create Game
          </button>
        </div>
      </form>
    </div>
  </div>


  <div *ngIf="game" class="container mt-4 ">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <h2 class="mb-4">Game Board</h2>
          <div class="board p-0 shadow-lg w-100 h-100">
            <div class="row p-0 m-0" *ngFor="let row of game.board; let r = index">
              <div class="col p-0" *ngFor="let cell of row; let c = index">
                <div class="cell d-flex justify-content-center align-items-center" (click)="makeMove(r, c)"
                  [ngStyle]="{ 'background-color': cell }" [ngClass]="{'disabledbutton': cell!=''}">  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="mt-4">
          <h3>
            Current Player:
            <strong>{{ game.players[currentPlayerIndex]!.name }}</strong>
          </h3>
        </div>

        <div class="mt-4">
          <h3>Scores</h3>
          <table class="table table-bordered table-striped">
            <thead class="table-dark">
              <tr>
                <th>Player</th>
                <th>Color</th>
                <th>Points</th>
                <th>Blocks</th>
                <th>Rank</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let score of game.scores">
                <td>{{ score.player }}</td>
                <td>
                  <span class="color-box" [ngStyle]="{ 'background-color': getColor(score.player) }"></span>
                </td>
                <td>{{ score.points }}</td>
                <td>{{ score.blocks }}</td>
                <td>{{ score.rank }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h3 *ngIf="isEnded">Winning status : {{winner}}</h3>
        <div class="d-flex justify-content-center mt-4">
          <button class="btn btn-outline-primary" *ngIf="!isEnded && game" (click)="reload()">
            Start a new game &plus;
          </button>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button class="btn btn-outline-primary" *ngIf="isEnded" (click)="reload()">
            Replay
          </button>
        </div>
      </div>
    </div>
  </div>
</div>