<div class="container-fluid d-flex justify-content-center mt-1 mb-3">
  <img src="../../../assets/images/logo.png" width="150" height="150" alt="">
</div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item w-auto">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" routerLinkActive="active" title="dashboard" routerLink='/admin/dashboard'>
        <i class="bi bi-speedometer2 me-2"></i> <span class="d-none d-lg-inline" >Dashboard</span>
      </button>
    </h2>
  </div>
  <div class="accordion-item w-auto">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" routerLinkActive="active" title="manage users"  routerLink='/admin/manage-users'>
        <i class="bi bi-people me-2"></i><span class="d-none d-lg-inline" >Manage users</span>
      </button>
    </h2>
  </div>
  <div class="accordion-item w-auto">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" routerLinkActive="active" title="view games"  routerLink='/admin/view-games'>
        <i class="bi bi-controller me-2"></i><span class="d-none d-lg-inline">View Games</span>
      </button>
    </h2>
  </div>
</div>
